/* @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&family=Playfair+Display&family=Zeyada&display=swap');
/* font-family: 'Gentium Book Plus', serif;
font-family: 'Playfair Display', serif;
font-family: 'Zeyada', cursive; */







* {
    padding: 0;
    /* text-decoration: none; */
}

body {text-align: center;
    margin: 0;
    background-color: #eaf6f6;
    font-family: 'Zeyada', cursive;
    box-sizing: border-box;
    font-family: 'Gentium Book Plus', serif;
}


hr{

    width: 100px;
    margin: 80px auto;
    border: dotted  #ad7070 6px;
    border-bottom: none;

}

/************************* Top *******************************/

.top {
    padding: 180px;
    position: relative;
    

}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;


 
}

.top h1{

}

.top h2 {
    font-size: 32px;

}


/************************* Middle *******************************/


li {
  margin: 20px;
  list-style: none;
}
ul{
    text-decoration: none;
}


.btn {
    background: #11ddd4;
    background-image: -webkit-linear-gradient(top, #11ddd4, #11999e);
    background-image: -moz-linear-gradient(top, #11ddd4, #11999e);
    background-image: -ms-linear-gradient(top, #11ddd4, #11999e);
    background-image: -o-linear-gradient(top, #11ddd4, #11999e);
    background-image: linear-gradient(to bottom, #11ddd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}


/************************* Bottom *******************************/

.bottom{
    background-color: #66bfbf;
    padding:50px 0 20px;  
    margin-top: 80px;
}

a{
    color:#11999e;
    margin:10px 20px;
    text-decoration: none; 
}

a:hover{
    color: #eaf6f6;
}

.copyright{
   color: #eaf6f6;
   font-size: 0.75rem; 
}